<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 9 p-0">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="slImages[0]" class="d-block w-100" id="slide" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="slImages[1]" class="d-block w-100" id="slide" alt="...">
          </div>
          <div class="carousel-item">
            <img [src]="slImages[2]" class="d-block w-100" id="slide" alt="...">
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 p-0 d-flex justify-content-center align-items-center" id="contenedor_frase">
      <h1 id="frase_carrusel">"Learn how to cook—try new recipes, learn from your mistakes, be fearless and above all have fun."<span id="autor"> - Julia Child</span></h1>
    </div>

  </div>
</div>
