<div class="container-fluid">
<div class="row p-5 pb-2 bg-light text-dark ">

    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h2 mb-5" id="texto_color">The Meal DB</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3" id="texto_color">Apis</p>
        <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">rickandmortyapi.com</a>
        </div>
        <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">pokeapi.co</a>
        </div>
        <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">hp-api.herokuapp</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3" id="texto_color">Links</p>
        <div class="mb-3">
            <a class="text-secondary text-decoration-none" href="#">Terms & conditions</a>
        </div>
        <div class="mb-3">
            <a class="text-secondary text-decoration-none" href="#">Privacy policy</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h5 mb-3" id="texto_color">Contact</p>
        <div class="mb-3">
            <a class="text-secondary text-decoration-none" href="#">Instagram</a>
        </div>
        <div class="mb-3">
            <a class="text-secondary text-decoration-none" href="#">Facebook</a>
        </div>
    </div>

    <div class="col-xs-12 pt-4">
        <p class="text-secondary text-center">Copyright - All rights reserved © 2022</p>
    </div>

</div>
</div>